@import "tailwindcss";
body {
  font-family: 'Inter', sans-serif;
}
body.dark {
  background-color: #111;
  color: white;
}

body.dark input,
body.dark select,
body.dark textarea {
  background-color: #222;
  color: white;
  border-color: #444;
}

body.dark .calendar-container {
  background-color: #1a1a1a;
  color: white;
}